
body{
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width:1610px) {
    .header-text{
        font-size: 70px !important;
    }
}

@media only screen and (max-width:940px) {
    body{
        position: relative;
    }
    .header{
        width: 100dvw !important;
        border-bottom-right-radius:50px !important;
    }
    .header-text{
        font-size: 30px !important;
    }
    .main-container{
        display: flex !important;
        flex-direction: column;
        border-top-left-radius: 50px !important ;
    }
}

.header{
    width: 100vw;
    font-size: 20px;
    color: whitesmoke;
    background-color: gray;
    display: grid;
    height: 180px;
    grid-template-columns: 1fr 3fr;
    border-bottom-right-radius:200px ;
}

.header-text{
    font-size: 100px;
    align-self: center;
}


.main-container{
    border-top-left-radius: 200px;
    width: 100dvw;
    margin-top: 50px;
    gap: 20px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.holders{
    margin-top: 10px;
    padding-top: 10px;
    height: 400px;
    width: 300px;
    justify-self: center;
    border-radius:20px;
}

.holder17>img{
   height: 180px;
}

.hacker>img{
    border-radius: 20px;
    height: 200px;
    width: 200px;
    align-self: center;
}


.header>a{
    display: flex;
}

.btn-heading{    
    height: 60px;
    width: 65px;
    align-self: center;
    margin-left: 10%;
    background-color: none;
}
